<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drag and Drop File Upload</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="upload-area" id="uploadArea">
        <div class="upload-icon">+</div>
        <div class="upload-text">Drag & Drop files here</div>
        <input type="file" id="fileInput" multiple>
    </div>
    <button class="upload-button" id="uploadButton">Upload</button>

    <script src="/script.js"></script>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data" display: grid; gap: .5rem; grid-template-columns: auto 1fr; max-width: 500px; margin: 0 auto;">
        <label for="file">File:</label >
        <input type="file" id="'file" name="'file" required />
        <label for="password">Password(optional):</label>
        <input type="password" id="password" name="password" />
        <button style="grid-column: span 2; width: 3rem; margin: 0 auto; text-align: center;" type="Submit">Share</button>
    </form>
</body>
</html>