/* public/styles.css */
.upload-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    height: 80vh;
    margin: auto;
}

.upload-icon {
    font-size: 48px;
}

.upload-text {
    font-size: 16px;
    margin-top: 10px;
}

.upload-button {
  padding: 4px 20px;
  margin-top: 4px;
  border-radius: 4px;
  border: none;
  background-color: '#556B2F';
}
